<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Pixel Volume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="pixel-container auth-box">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="pixel-alert {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <h1 class="pixel-title">Pixel - Kalkulator Volume</h1>
        <p>Kasi masuk nama ta dulu:</p>
        
        <form method="POST">
            <div class="pixel-form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="pixel-input" required>
            </div>
            
            <button type="submit" class="pixel-button">Mulai</button>
        </form>
        
        </div>
</body>
</html>